:root {
    --primary: rgb(87, 102, 148);
    --accent: rgb(27, 27, 77);
}

html {
    font-size: 62.5%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    /* I sourced this from the solution to the second mini-project of week 1 */
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--accent);
    background-color: blanchedalmond;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: rgb(39, 44, 30);
}

main {
    margin: 2rem auto;
}

footer {
    text-align: center;
    background-color: rgb(39, 44, 30);
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
}

h1 {
    font-size: 5rem;
    color: var(--accent);
    background-color: var(--primary);
    padding: 5px;
}

h2 {
    font-size: 4rem;
    width: 200px;
    padding: 20px;
    color: var(--accent);
    text-align: right;
}

h3 {

}

nav a {
    color: var(--primary);
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 20px;
}

.content {
    border-left: 3px solid var(--accent);
    padding: 30px;
    margin-right: 50px;
}

.row {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.project-column {
    flex: 1 1 50%;
    padding: 1.5rem;
    /* transition: flex-basis 500ms linear; */
}

.contacts {
    justify-content: space-between;
}

#project-column {
    flex: 1 1 100%;
    padding: 1.5rem;
    /* transition: flex-basis 500ms linear; */
}

#about-me, 
#my-work,
#contact-me {
    display: flex;
    margin: 2.5%;
    
}

@media screen and (min-width: 768) {
    .project-column {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .project-column:first-child {
        flex-grow: 1;
    }
}

@media screen and (min-width: 992) {

}